{% extends 'base_template/delete.html' %}
{% load i18n %}

{% block title %}Удаление задачи{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4">{% trans "Delete task" %}</h1>
    <p>{% blocktrans with task_name=task.name %}
    Are you sure you want to delete task {{ task_name }}?
    {% endblocktrans %}</p>
    <form action="{% url 'tasks:delete_task' task.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Да, удалить</button>
        <a href="{% url 'tasks:tasks' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
