{% extends "base_template/index.html" %}
{% load i18n %}
{% block content %}
<div class="flex-column justify-content-center align-items-center px-3">
    <h1>{% trans "Tasks" %}</h1> 
    <main>
<fieldset class="border p-3 mb-4 rounded">
    <div class="card-body">
        <form method="get" class="row g-3 align-items-end">
            {% for field in filter.form %}
            <div class="col-md-3"> 
                {% if field.name == 'author' %}
                <!-- Специальная обработка для чекбокса "Только свои задачи" -->
                <div class="form-check">
                    <input type="checkbox" name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-check-input" {% if field.value %}checked{% endif %}>
                    <label for="{{ field.id_for_label }}" class="form-check-label">{{ field.label }}</label>
                </div>
                {% elif field.name == 'executor' %}
                <!-- Специальная обработка для поля "Исполнитель" в фильтре -->
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <select name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-select">
                        <option value="">---------</option>
                        {% for user in users %}
                        <option value="{{ user.id }}">{{ user.get_full_name|default:user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% else %}
                <label for="{{ field.id_for_label }}" class="form-label small fw-bold mb-1">
                    {{ field.label }}
                </label>
                {{ field }}
                {% endif %}
            </div>
            {% endfor %}
                    <button type="submit" class="btn btn-primary">Показать</button>
        </form>
    </div>
</fieldset>
<div class="d-flex justify-content-between align-items-center mb-4">
    <a href="{% url 'tasks:create_task' %}" class="btn btn-lg btn-primary fs-6 fw-bold">Создать задачу</a>
</div>
        <div class="mb-5">    
    <table class="table table-striped table-bordered table-hover">
    <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>{% trans "Имя" %}</th>
          <th>{% trans "Статус" %}</th>
          <th>{% trans "Автор" %}</th>
          <th>{% trans "Исполнитель" %}</th>
          <th>{% trans "Создано" %}</th>
          <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in object_list %}
        <tr>
        <td>{{task.id}}</td>
        <td>
            <a class="nav-link mb-2" href="{% url 'tasks:task_detail' pk=task.id %}">{{ task.name }}</a>
        </td>
        <td>{{ task.status }}</td>
        <td>{{ task.author }}</td>
        <td>{{ task.executor }}</td>
        <td>{{ task.created_at }}</td>
        <td>
            <p>
                <a class="nav-link mb-2" href="{% url 'tasks:update_task' pk=task.id %}">{% trans "Update" %}</a>
            </p>
        <p>
            <a class="nav-link mb-2" href="{% url 'tasks:delete_task' pk=task.id %}">{% trans "Delete" %}</a>
        </p>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
    </main>
{% endblock %}
